{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block main %}
    {% block entity_form %}
        <div class="row" style="background: #F0F0F0; border: #DDD 1px solid; margin: 0px; margin-bottom: 15px; font-size: 20px; padding: 10px;">
          <div class="col-sm-12 col-xs-12">
            <a href="/admin/?action=edit&entity=Page&id={{ form.vars.value.id }}" style="margin-right: 20px;">Main</a>
            <a href="/admin/?action=edit&entity=Page&id={{ form.vars.value.id }}&provider=blocks">Blocks</a>
          </div>
        </div>
      {% if app.request.query.get("provider") == 'blocks' %}
            {{ form_start(form) }}
            {{ form_row(form.blocks) }}
        <button type="submit" class="btn btn-primary action-save">
            <i class="fa fa-save"></i> Save changes
        </button>
        {{ form_end(form) }}

        <div id="moduleSelect" style="display: none;">
          <select style="margin-top: 30px;">
          {% for module in options.config.options.modules %}
            <option value="{{ module.id }}" data="{{ module.options|join(',') }}">{{ module.name }}</option>
          {% endfor %}
          </select>
          <br>
        </div>
        <script type="text/javascript">
          var select = $("#moduleSelect").html();
          $(".field-collection-action").prepend(select);
        </script>
      {% else %}
            {{ form(form) }}
      {% endif %}
    {% endblock entity_form %}

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'edit',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
    <script type="text/javascript">
    var $page_template = $('#page_template');
      // When page_template gets selected ...
      $page_template.change(function() {
      // ... retrieve the corresponding form.
      var $form = $(this).closest('form');
      // Simulate form data, but only include the selected page_template value.
      var data = {};
      data[$page_template.attr('name')] = $page_template.val();
      // Submit data via AJAX to the form's action path.
      $.ajax({
        url : '/admin/?action=edit&entity=Page&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%253Faction%253Dlist%2526entity%253DPage%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id=1',
        type: $form.attr('method'),
        data : data,
        success: function(html) {
          // Replace current position field ...
          $('#page_blocks').replaceWith(
            // ... with the returned one from the AJAX response.
            $(html).find('#page_blocks')
          );
          // Position field now displays the appropriate positions.
        }
      });
    });
    </script>
{% endblock %}
