{% block tonyschmitt_page_block_collection_row %}
    {{ block('form_row') }}

    {% if allow_add|default(false) %}
        {% set js_add_item %}
            $(function() {
                if (event.preventDefault) event.preventDefault(); else event.returnValue = false;

                var collection = $('#{{ id }}');
                // Use a counter to avoid having the same index more than once
                var numItems = collection.data('count') || collection.children('div.form-group').length;

                collection.prev('.collection-empty').remove();

                var newItem = collection.attr('data-prototype')
                    .replace(/\>__name__label__\</g, '>' + numItems + '<')
                    .replace(/_{{ name }}___name__/g, '_{{ name }}_' + numItems)
                    .replace(/{{ name }}\]\[__name__\]/g, '{{ name }}][' + numItems + ']')
                ;

                // Increment the counter and store it in the collection
                collection.data('count', ++numItems);

                collection.append(newItem).trigger('easyadmin.collection.item-added');

                var lastNum = numItems - 1;

                data = {};
                data['page[blocks]['+lastNum+'][module]'] = $('.field-collection-action select').val();

                $.ajax({
                    url : '/admin/?action=edit&entity=Page&id=1&provider=blocks',
                    type: 'POST',
                    data : data,
                    success: function(html) {
                        
                      // Replace current position field ...
                      $('#page_blocks_'+lastNum+'_module').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#page_blocks_'+lastNum+'_module')
                      );
                      
                      $('#page_blocks_'+lastNum+'_options').parent().html(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#page_blocks_'+lastNum+'_options').parent().parent().html()
                      );
                      // Position field now displays the appropriate positions.
                    }
                });
            });
        {% endset %}

        <div class="text-right field-collection-action">
            <a href="#" onclick="{{ js_add_item|raw }}" class="text-primary">
                <i class="fa fa-plus-square"></i>
                {{ (form|length == 0 ? 'action.add_new_item' : 'action.add_another_item')|trans({}, 'EasyAdminBundle') }}
            </a>
        </div>
    {% endif %}
{% endblock tonyschmitt_page_block_collection_row %}

{% block tonyschmitt_page_templateblock_collection_row %}
    {{ block('form_row') }}

    {% if allow_add|default(false) %}
        {% set js_add_item %}
            $(function() {
                if (event.preventDefault) event.preventDefault(); else event.returnValue = false;

                var collection = $('#{{ id }}');
                // Use a counter to avoid having the same index more than once
                var numItems = collection.data('count') || collection.children('div.form-group').length;

                collection.prev('.collection-empty').remove();

                var newItem = collection.attr('data-prototype')
                    .replace(/\>__name__label__\</g, '>' + numItems + '<')
                    .replace(/_{{ name }}___name__/g, '_{{ name }}_' + numItems)
                    .replace(/{{ name }}\]\[__name__\]/g, '{{ name }}][' + numItems + ']')
                ;

                // Increment the counter and store it in the collection
                collection.data('count', ++numItems);

                collection.append(newItem).trigger('easyadmin.collection.item-added');

                var lastNum = numItems - 1;

                data = {};
                data['template_page[templateBlocks]['+lastNum+'][module]'] = $('.field-collection-action select').val();

                $.ajax({
                    url : '/admin/?action=edit&entity=TemplatePage&id=1&provider=blocks',
                    type: 'POST',
                    data : data,
                    success: function(html) {
                        
                      // Replace current position field ...
                      $('#template_page_templateBlocks_'+lastNum+'_module').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#template_page_templateBlocks_'+lastNum+'_module')
                      );
                      
                      $('#template_page_templateBlocks_'+lastNum+'_options').parent().html(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#template_page_templateBlocks_'+lastNum+'_options').parent().parent().html()
                      );
                      // Position field now displays the appropriate positions.
                    }
                });
            });
        {% endset %}

        <div class="text-right field-collection-action">
            <a href="#" onclick="{{ js_add_item|raw }}" class="text-primary">
                <i class="fa fa-plus-square"></i>
                {{ (form|length == 0 ? 'action.add_new_item' : 'action.add_another_item')|trans({}, 'EasyAdminBundle') }}
            </a>
        </div>
    {% endif %}
{% endblock tonyschmitt_page_templateblock_collection_row %}

{% block tonyschmitt_page_block_textarea_tinymce_row %}
{{ block('form_row') }}
<script>
    function initTinyMce() {
        
        tinymce.init({
            selector: '.textarea-tinymce',
            relative_urls : false,
            content_css: 'https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css',
            noneditable_noneditable_class: 'fa',able_class: 'fa',
            extended_valid_elements: 'span[*]',
            fontsize_formats: "8px 10px 12px 14px 18px 24px 36px",
            plugins: "code fontawesome noneditable table textcolor lists link",
            toolbar: 'formatselect | bold italic underline strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify numlist bullist table  | outdent indent  | removeformat | fontawesome fontsizeselect',
            table_default_attributes: {
                class: 'uk-table uk-table-striped uk-table-hover'
            },
            setup: function(editor) {
                function toIconHtml(icon) {
                    return '<p><span uk-icon="' + icon + '">&nbsp;</span></p><p>coucou</p>';
                }

                editor.addButton('iconsUIkit', {
                    tooltip      : 'my plugin button',
                    text         : 'Icones',
                    type         : 'menubutton',
                    menu         : [
                        {
                            text    : 'home', 
                            onclick : function() { 
                                var html = toIconHtml('home');
                                editor.insertContent(html);
                            }
                        }
                    ]
                });
            }
        });
    }

    $(document).ready(function() {
        tinymce.remove();
        initTinyMce();
    });
    
    
</script>
{% endblock tonyschmitt_page_block_textarea_tinymce_row %}