{% extends "@TonySchmittPage/template/base.html.twig" %}

{% block title %}{{ metaBaliseHead['title'] }}{% endblock %}

{% block meta %}
  {{ metaBaliseHead['meta'] }}
{% endblock %}

{% block header %}
  {% if header is defined %}
    {{ header|raw }}
  {% endif %}
{% endblock %}

{% block body %}
  {% if body is defined %}
    {{ body|raw }}
  {% endif %}
{% endblock %}

{% block footer %}
  {% if footer is defined %}
    {{ footer|raw }}
  {% endif %}
{% endblock %}
